body {
    font-family: 'Manrope', sans-serif;
}

#slide1 {
    background-image: url(../images/banner1.png);
    background-repeat: no-repeat;
}

#slide2 {
    background-image: url(../images/banner2.png);
    background-repeat: no-repeat;
}

#slide3 {
    background-image: url(../images/banner3.png);
    background-repeat: no-repeat;
}

#slide4 {
    background-image: url(../images/banner4.png);
    background-repeat: no-repeat;
}

.team-section {
    background-image: url(../images/team.png);
    background-repeat: no-repeat;
}

/* Media Quary */
@media screen and (max-width: 770px) {

    #hidden-mobile {
        display: none;
    }

    body {
        justify-content: center;
    }
}

@media screen and (min-width:770px) and (max-width:1050px) {

    #hidden-mobile {
        margin-top: 10px;
        margin-left: 130px;
    }
}

@media screen and (min-width:770px) {

    #whychoose {
        display: none;
    }
}